<% include header %>
<style>
  body{background-image:url("../images/img2.jpg");padding:100px 0px 0px 0px;}
  </style>
  <h2>Error sending message</h2>
  <br /><br />
  <p>Please email me at <a href='raybox94@gmail.com'>raybox94@gmail.com</a></p>
  <p><a class="btn btn-danger" href="/" role="button">Return to Site</a></p>

  <% include footer %>