<% include header %>
<style>
  body{background-image:url("../images/img2.jpg");padding:100px 0px 0px 0px;}
  </style>
  <h2>Message Sent</h2>
  <br /><br />
  <p><a class="btn btn-primary bg-nw-green" href="/" role="button">Return to Site</a></p>

  <% include footer %>