<!--
This code is written by Rayaan Ahmed
contact : raybox94@gmail.com


-->
<% 
include header
%>

<div class="container-fluid background ">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4" id="img">

<img src="images/profile.JPG" alt="Profile-Pic" id="profile-image" class="img-circle"/>

<h3>Scroll</h3>
<img src="images/scroll.png" alt="down" class="scroll"/>
</div>
<div class="col-md-4"></div>
</div>
</div>
<!--end of first scroll-->

<div class="container-fluid second-background">
        <div class="col-md-4"></div>
        <div class="col-md-4 " >   
            <div class="present">
                    <h2>PRESENT</h2>
                    <p>I am a new international graduate student at Northwest Missouri State University. I am doing my MS in Applied Computer Science.</p>

            </div>
           
        <div class="ray">
            <h3>Scroll</h3>
<img src="images/scroll.png" alt="down" class="scroll"/>
</div>
        </div>
        <div class="col-md-4"></div>
    <div class="row">


    </div>
</div>
<!--end of second scroll-->

<div class="container-fluid third-background">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">   
            <div class="present">
                    <h2>PAST</h2>
                    <p>I am from India, worked as a back-end developer for NIEPID hyderabad for 2 years as Intern. Worked as research assistant under Dr. R. Usha Rani, project on neural networks.</p>
                
            </div>  
                
            <div class="ray">
                    <h3>Scroll</h3>
        <img src="images/scroll.png" alt="down" class="scroll"/>
        </div>
        </div>
        <div class="col-md-4"></div>
    <div class="row">

    </div>
</div>

<!--end of third scroll-->


<div class="container-fluid fourth-background">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">   
            
                <div class="present">
                        <h2>FUTURE</h2>
                        <p>In the future i would love to become a back-end developer.</p>

                </div>
            
                <div class="ray">
                        <h3>Scroll</h3>
            <img src="images/scroll.png" alt="down" class="scroll"/>
            </div>
        
        </div>
        <div class="col-md-4"></div>
    <div class="row">


    </div>
</div>

<!--end of fourth scroll-->
<div class="container-fluid">
<div class="row">

<div class="col-md-12" style="background: #000;">

        <iframe  src="https://www.youtube.com/embed/lHvtZSsEYsE" allow="autoplay; encrypted-media" style="width:100%;height:580px;">
        </iframe>
    </div>
</div>
</div>
<!--end of video-->
<%
include footer
%>
