<div class="col-md-4">
    <div class="grid-size top-left" id="top-left" onclick="top_left()"><h1 class="top-left-text h1" id="top-left-text"></h1></div>
    <div class="grid-size top-center" id="top-center" onclick="top_center()"><h1 class="top-center-text h1" id="top-center-text"></h1></div>
    <div class="grid-size top-right" id="top-right" onclick="top_right()"><h1 class="top-right-text h1" id="top-right-text"></h1></div>
    <div class="grid-size middle-left" id="middle-left" onclick="middle_left()"><h1 class="middle-left-text h1" id="middle-left-text"></h1></div>
    <div class="grid-size middle-center" id="middle-center" onclick="middle_center()"><h1 class="middle-center-text h1" id="middle-center-text"></h1></div>
    <div class="grid-size middle-right" id="middle-right" onclick="middle_right()"><h1 class="middle-right-text h1" id="middle-right-text"></h1></div>
    <div class="grid-size bottom-left" id="bottom-left" onclick="bottom_left()"><h1 class="bottom-left-text h1" id="bottom-left-text"></h1></div>
    <div class="grid-size bottom-center" id="bottom-center" onclick="bottom_center()"><h1 class="bottom-center-text h1" id="bottom-center-text"></h1></div>
    <div class="grid-size bottom-right" id="bottom-right" onclick="bottom_right()"><h1 class="bottom-right-text h1" id="bottom-right-text"></h1></div>
  </div>